.form-container{
	border-bottom: 1px solid #dcdcdc;
	
}

@media(min-width: 800px){
	.sample-page-container{
		display: flex;
		justify-content: space-evenly;
		height: 100%;
	}
	.form-container{
		border-right: 1px solid #dcdcdc;
		flex-grow: 1;
		border-bottom: 0;
		max-width: 50%;
		
	}
}

.sample-widget-container{
	flex-grow: 1;    
	padding: 20px;
    font-family: Arial;    
    background: #f8f8f8;   
}
.eGain-Search-Results-h1 {
    color: dodgerblue;
	font-size: 22px;
    margin-top: 0;
}
 
.eGain-Search-Results-Ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 0;
	margin-top: 0;
}
 
.eGain-Search-Results-Li {
    list-style: none;
    margin-left: 0;
    border-bottom: solid 1px #e7e7e7;
	padding: 10px 0;
}
 
.eGain-Search-Results-Li:hover {
    cursor: pointer;
	color: dodgerblue;
}
 
.eGain-Search-Results-A {
    text-decoration: none;
    color: inherit;
}

/**
 Style for form
*/

.form-container {
    font-family: Arial;
    padding: 15px;
}

.form-header h1 {
    margin-top: 0;
    color: dodgerblue;
    font-size: 22px;
}

.inline-input-group {
    display: flex;
    justify-content: space-evenly;
}

.form-input {
    margin-bottom: 15px;
}

.inline-input-group .form-input {
    flex-grow: 1;
	max-width: 50%;
}

.form-input input[type="text"] {
    border: 1px solid #aaa;
    /* margin-top: 5px; */
    padding: 10px;
    border-radius: 4px;
}

.form-input input {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.form-input select {
    margin-top: 5px;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #aaa;
}


textarea#case_desc {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
}